
@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&family=M+PLUS+U:wght@100..900&display=swap");
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@theme {
    --font-custom: 'Birthstone Bounce', BirthstoneBounce;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}